*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.global{
    display: flex;
    justify-content: center;
}

.global > section,
.global > header,
.global > footer {
    flex: 0 1 1100px;
/*     border:  1px solid #aaa; */
    padding: 4rem 1rem;
/*     background-color: rgba(0,0,0, 0.1); */
}

.global > .entete__header{
    flex: 1;
}

#entete, #footer{
    min-height: 20vh;
}

#menu__entete{
    position : relative;
    background-color: var(--couleur-arriere-menu);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-theme);
    position: relative;
    min-height: 100vh;
}

#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-theme);
}

#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-theme);
    z-index: 1;
}

#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-theme);
    position: relative;
}

#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}

/* @media only screen and (max-width: 600px){

    .global > header{
        color: var(--couleur-footer);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

} */