:root{
    --couleur-arriere-entete: #F08700;
    --couleur-arrier-accueil: #F49F0A;
    --couleur-arriere-evenement: #EFCA08;
    --couleur-arriere-galerie: #00A6A6;
    --couleur-arriere-footer: #BBDEF0;

    /* Niveau de transparence des H */
    --transparence-h1: 0.4;
    --transparence-section: 0.1;
}