.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 calc(900px/5);
    border: 1px solid var(--couleur-theme);
    text-align: center;
    align-items: center;
    background-color: var(--couleur-arriere);
    padding: 1rem;
}