/* <nav class="menu-principal-container"><ul id="menu-principal" class="menu"><li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34"><a href="#accueil">Accueil</a></li>
<li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-31"><a href="http://localhost:8080/4w4_joules/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost:8080/4w4_joules/2020/10/07/582-4mb-animation-3d-75h/">Animation 3D</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost:8080/4w4_joules/2020/10/07/360-4j4-creation-de-jeu-en-equipe-105h/">Création de jeu en équipe</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a href="#footer">Footer</a></li>
</ul></nav> */

/*  
Feuille de style du menu principal
*/
/* .menu-principal-container { //nav
    //background-color: black;
} */


.menu { //ul
    position: fixed;
    display : flex;
    gap: 0.5rem;
    width: 100vw;
    height: 90%;
    top: 10%;
    z-index: 1;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(300%);
    transition: transform 0.5s;
    background-color: var(--couleur-arriere-menu);
    @media (min-width: 700px){
      position : static;
      flex-direction: row;
      justify-content: center;
      width: 80vw;
      height: auto;
      transform: translateX(0);
    }
}

.menu-principal-container{
    display: flex;
    justify-content: center;
    @media (min-width: 700px){
        display: block;
    }
}

.menu-item{//li
    flex: 0 1 65px;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.2rem var(--couleur-theme) solid;
    background-color: var(--couleur-arriere-menu);
    @media (min-width: 700px){
        flex: 0 1 150px;
      }
}

.menu-item a{//li a
    color: aliceblue;
    text-decoration: none;
}

/* gestion label #burger l'image svg est dans un label */
#burger {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    @media (min-width: 700px) {
        display: none;
    }
}
  
#chk-burger{
    display: none;

}

#chk-burger:checked ~ .menu__header .menu{
    transform: translateX(0);
}

.custom-logo-link{
    position: absolute;
    z-index: 1;
    @media (min-width: 700px) {
        left: 3%;
    }
}

.custom-logo-link > img{
    width: 4rem;
    height: auto;
    @media (min-width: 700px) {
        width: auto;
    }
}