a{
    color: hsl(40, 100%, 50%);
    transition: all 0.5s;
}

a:hover{
    background-color: hsl(347, 47%, 52%);
    transform: scale(110%);
}

a:focus{
    transform: scale(110%);
}

a:visited{
    color: hsl(29, 67%, 50%);
}