a{
    color: var(--couleur-lien);
    transition: all 0.5s;
}

a:hover{
    background-color: var(--couleur-lien-hover);
}

a:focus{
    transform: scale(110%);
}

a:visited{
    color: var(--couleur-lien-visited);
}